

input,
select,
button,
textarea {
	border: none;

	transition: border .2s ease-in-out;

	&:focus,
	&:active {
		outline: none;
		border: 2px solid $primaryColor;
	}

	&::-webkit-input-placeholder {
	  color: #8f8f8f;
	}
	&::-moz-placeholder {
	  color: #8f8f8f;
	}
	&:-ms-input-placeholder {
	  color: #8f8f8f;
	}
	&:-moz-placeholder {
	  color: #8f8f8f;
	}
}


input,
select,
textarea {
	border: 2px solid #e0e0e0;
	background-color: #fff;
}

.nf-error .ninja-forms-field {
	border: 2px solid $errorColor !important;
}
.ninja-forms-req-symbol, .nf-error-msg {
	color: $errorColor !important;
}


input,
select,
textarea {
	font-size: 1.125em;
	font-family: $paragraphFont;
	font-weight: 300;
	padding: 0.9em;
	border-radius: 10px;
}


input[type=text],
input[type=number] {
	
	
}

input[type=button],
button[type=submit] {

}

.submit-wrap {
	display: inline-block !important;
	position: relative;
	cursor: pointer;

	.nf-field-label {
		display: none;
	}

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: -0.35em;
	// 	left: -0.35em;
	// 	border-radius: 4em;
	// 	background-color: $primaryColor;
	// 	transition: top .2s ease-in-out, left .2s ease-in-out;
	// }


	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0.35em;
		left: 0.35em;
		border-radius: 4em;
		border: 2px solid $textColor;
		transition: top .2s ease-in-out, left .2s ease-in-out;
		z-index: 1;
	}


	&:hover {
		&:after {
			top: 0;
			left: 0;
		}

		input[type=button],
		button {
			padding: 1.675em 2.775em;
		}
	}

	

	input[type=button],
	button {
		@include button-style($primaryColor, $textColor);
		border: none;
		font-weight: 700;
		text-transform: uppercase;

	}
}

.form-errors {
	margin-top: 1em;
	color: $errorColor;
}


.field-wrap.checkbox-wrap,
.field-wrap.radio-wrap {
	.nf-field-label {
		padding-left: 0;
	}
	.nf-field-element {
		width: 0 !important;
		height: 0 !important;
	}

	label {
		position: relative;
		padding-left: 34px;
		padding-top: 0.25em;

		&:before,
		&:after {
			content: '';
			position: absolute;
		}

		&:before {
			width: 24px;
			height: 24px;
			background-color: #fff;
			border-radius: 5px;
			top: 0;
			left: 0;
		}

		&:after {

		}
	}


	input[type=checkbox],
	input[type=radio] {
		width: 0;
		height: 0;
		position: absolute;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}
}

.field-wrap.checkbox-wrap {
	label {
		&:after {
			width: 6px;
			height: 6px;
			background-color: $tertiaryColor;
			top: 8px;
			left: 8px;
			border-radius: 5px;
			opacity: 0;
			transition: all .2s ease-in-out;
		}

		&.nf-checked-label {
			&:after {
				width: 18px;
				height: 18px;
				top: 3px;
				left: 3px;
				opacity: 1;
			}
		}
	}
}


.field-wrap.radio-wrap {
	label:after {
		
	}
}


.nf-field-container.-hidden {
	display: none;
}
